{% extends "base.html" %}

{% block content %}
<br><br><br><br>
{% for i in subnets %}
<div class="container">
	 <div class="col-sm-6">
	 	<ul class="list-group">
			<li class="list-group-item"><h5 style="display: inline"> Subnet Id - </h5> {{ i.subnet_id }} </li>
			<li class="list-group-item"><h5 style="display: inline"> Vpc Id - </h5> {{ i.vpc_id }} </li>
			<li class="list-group-item"><h5 style="display: inline"> Cidr Block - </h5> {{ i.cidr_block }} </li>
			<li class="list-group-item"><h5 style="display: inline"> State - </h5> {{ i.state }} </li>
		</ul>

	</div>
</div>
<hr><hr>
{% endfor %}
{% endblock content %}