{% extends 'base.html' %}
{% block home %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, there!</h1>
      <p class='lead'> 
        <h2>What Is Amazon VPC?</h2>
Amazon Virtual Private Cloud (Amazon VPC) enables you to launch AWS resources into a virtual network that you've defined. This virtual network closely resembles a traditional network that you'd operate in your own data center, with the benefits of using the scalable infrastructure of AWS. </p>
      <div class="fa-3x">
      <!--<i class="fas fa-spinner fa-spin"></i>
      <i class="fas fa-circle-notch fa-spin"></i>
      <i class="fas fa-sync fa-spin"></i> -->
      <i class="fas fa-cog fa-spin fa-4x"></i>
      <i class="fas fa-quote-left fa-2x fa-pull-left"></i>
      <!-- <i class="fas fa-spinner fa-pulse"></i> -->
      <!--  <i class="fas fa-stroopwafel fa-spin"></i> -->
      </div>
    </div>
   </div>
  <hr>
  </div>
</main>}
{% endblock %}
